# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# test files from text-ui-test
/text-ui-test/*_ACTUAL.TXT
/text-ui-test/data/

# manifest file from build artifacts
*.MF
